@use '../0-abstracts/variables' as a;
@keyframes FaBars {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        filter: contrast(150%);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes SlideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }
    80% {
        opacity: 1;transform: translateX(1rem);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes SlideInBottom{
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes SlideInRight{
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }
    80% {
        opacity: 1;transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes navLinks {
    0% {
        border: 1px a.$primary-aqua-5 solid;
    }
    50% {
        background: a.$primary-grey-1;
    }
    100% {
        background: transparent;
    }
}
@keyframes PriceCenter {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(200%);
    }
    0% {
        filter: brightness(100%);
    }
}
@keyframes letterImgAnimation {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes handpointingright  {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateX(50%);
        color: a.$primary-grey-4;
    }
}
@keyframes exploreBtn {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}