@use '../0-abstracts/variables' as *;
@use '../0-abstracts/mixins' as *;

html {
  scroll-behavior: smooth;
}
body {
  background: $clr-grey-1;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  img {
    width: 100%;
    display: block;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 2rem;
    text-transform: capitalize;
  }
  h4 {
    font-size: 1.8rem;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}


// section center
.section-center {
  padding: 1rem;
  min-height: 100vh;
  display: grid;
  z-index: 3;
  place-items: center;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("../../img/Wiraysha-mainpage.jpg") center/cover no-repeat;
  background-attachment: fixed;
  .sec-center {
    ul {
      max-width: $max-width;
      margin: 0 auto;
      display: grid;
      li {
        margin: 1rem auto;
      }
    }
  }
}
// end of section center
// about
#about {
  min-height: 100vh;
  overflow-y: hidden;
  
  background: linear-gradient(
    45deg,
    $primary-aqua-2 20%,
    rgba($primary-aqua-5, 0.1)
  );
  display: grid;
  place-content: center;
  @include rhombus;

  .about-info {
    width: 80%;
    border-radius: $border-radius;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    box-shadow: $light-shadow;
    z-index: 1;
    .header {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }
  .about-info::before {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: $border-radius;
    height: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background: transparent;
    -webkit-filter: blur(5px) contrast(150%);
    filter: blur(5px) contrast(150%);
    opacity: 0.4;
  }
}
// end of about
