@use '../0-abstracts/variables' as *;
@use '../2-typography/2-typography' as *;
// navbar main.html
.navbar {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
// navbar subpage zodiac, letters
.navbar-subpage {
  padding: 1rem;
  overflow: visible;
  background: url("../../svgs/waves.svg");
  background-position: center;
  .nav-center {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .nav-items {
    display: none;
  }
}

// letters nav
