@use '../0-abstracts/0-abstracts' as *;
@use '../2-typography/2-typography' as *;
.prices-center{
  background: linear-gradient(90deg, $primary-aqua-2, rgba($clr-primary-3, 0.5));
  display: grid;
  border-radius: 1rem;
  width: 90%;
  max-width: $max-width;
  margin: 2rem auto;
  margin-bottom: 0;
  box-shadow: $light-shadow;
  place-items: center;
  padding: 2rem;
  @include message();

  .letterPrice-center,
  .zodiac-center,
  .AnimalsPrice-center, .headband-center, .PonponetjesPrice-center {
    margin-bottom: 12rem;
    position: relative;
    max-width: $fixed-width;
    padding: 0.5rem;
    &::after {
      @include BeforeAfter();
      z-index: -2;
      background: linear-gradient(
        45deg,
        rgba($primary-aqua-3, 0.2),
        rgba(0, 0, 0, 0.1)
      );
      filter: blur(2px);
    }
  }
}
.price-center-toggled {
  animation: PriceCenter 1.5s ease-in-out 0.5s 1 forwards;
}
