
@font-face {
    font-family: "Grenze";
    src: url('../../fonts/Grenze-Italic.ttf');
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "Namun";
    src: url("../../fonts/NanumPenScript-Regular.ttf");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Texturina";
    src: url("../../fonts/Texturina-Italic-VariableFont_opsz\,wght.ttf");
    font-style: normal;
    font-weight: normal;
  }