@use '../0-abstracts/mixins' as *;
@use '../0-abstracts/variables' as*;
// social media icons
.fab {
  color: $primary-aqua-3;
  font-size: 1.3rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 2s;
  &:hover {
    color: rgba($primary-grey-1, 0.9);
  }
}
.fa-angle-left,
.fa-angle-right {
  font-size: 4rem;
  cursor: pointer;
  transition: $transition;
  color: rgba($primary-grey-1, 0.9);
}
.prices-social-icons-zodiac {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  .price-icons-zodiac:not(.fa-whatsapp, .fa-instagram) {
    font-size: 2.5rem;
  }
  .price-icons-zodiac:not(.fa-angle-right) {
    font-size: 1.5rem;
    margin: 0 0.2rem;
  }
}
.hand-pointing-right  {
  color: $primary-grey-5;
  font-size: 2rem;
  animation: handpointingright  500ms ease-in-out 1s infinite forwards alternate;
}
// end of social media icons
////////////////// section-center logo
.logo,
.article-logo {
  @include logo-article();
}
/////////////////// section-center logo
// header for elements
.header-text {
  color: $clr-primary-3;
  font-family: $font-family-2;
  text-align: center;
  font-size: 3rem;
}
// end of header for elements
// about text
.about-text {
  @include article-text();
  .about-text-paragraph {
    .about-text-link {
      a {
        @include article-text-a-link();
      }
    }
  }
  a {
    background-color: linear-gradient(45deg, blue, red);

    -webkit-filter: brightness(200%);
    filter: brightness(200%);
    font-weight: 600;
    text-transform: capitalize;
  }
}
// end of about text
// article header
.article-header {
  margin-bottom: 1rem;
  font-family: $font-family-1;
  h3 {
    color: $clr-primary-2;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: dotted;
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
  }
}
// end of article header
.article-info {
  p {
    @include article-text();
    padding: 0.5rem;
  }
  span a {
    @include article-text-a-link();
  }
}
.header {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
// zodiac headerNames
.underline {
  @include underline(50%);
}
// end of zodiac headerNames

// footer copyright text
.footer-p {
  @include subpage-footer-text();
}
// end of footer copyright text

// prices header
.price-header {
  text-align: center;
  border-radius: $border-radius;
  color: $clr-primary-2;
  font-family: $font-family-1;
  text-transform: capitalize;
  letter-spacing: $letter-spacing;
  font-size: 3rem;
  display: grid;
}
.price-letters, .price-zodiac, .animals-price {
  font-family: $font-family-2;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $clr-grey-1;
  letter-spacing: 1px;
  border-bottom: dotted 2px rgba(255, 255, 0, 0.521);
  text-align: center;
  margin: 0 auto;
  justify-self: center;
  width: fit-content;
  span {
    color: $light-green;
    font-size: 1.8rem;
    margin: inherit;
  }
}
// end of prices header
// products header
.products-header {
  text-transform: capitalize;
  font-size: 4rem;
  letter-spacing: $letter-spacing;
  font-family: $font-family-2;
  color: $clr-primary-5;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.products-header:not(:first-child) {
  margin-top: 1rem;
}
// end of products header
.header-letters {
  background: linear-gradient(45deg, rgba(255, 255, 0, 0.788), $light-green);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}