@use "../0-abstracts/variables" as *;
$breakpoints: (
  small-1: 348px,
  small-2: 410px,
  medium-1: 600px,
  medium-2: 768px,
  large-1: 992px,
  large-2: 1200px,
);
@media screen and (max-width: 348px) {
  .price-letters,
  .price-zodiac {
    font-size: 1.2rem;
    span {
      font-size: 1.3rem;
    }
  }
  .sidebar {
    .sidebar-header {
      .sidebar-logo-main {
        font-size: 1.3rem;
      }
    }
  }

  .btn-sidebar-subpage {
    width: 5rem;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 0.4rem;
    position: relative;
    a {
      margin: 0;
      width: 7rem;
      transition: $transition;
      margin-left: 0.25rem;
      font-size: 1rem;
      &:hover {
        margin-left: 0.5rem;
      }
    }
  }
  .img-container {
    width: 12rem;
    padding: 0;
    img {
      width: 100%;
    }
  }
  .img-container-animal {
    width: 90%;
  }
  .fab {
    font-size: 1rem;
  }
  .footer-p {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 410px) {
  .one-colored,
  .two-colored {
    p {
      font-size: 1rem;
    }
  }
}
@media screen and (min-width: 450px) {
  .logo:not(.main-logo) {
    color: $clr-grey-2;
    font-weight: 900;
  }
  .navbar-subpage {
    background: url("../../svgs/wave-haikei-2.svg") center/cover no-repeat;
    overflow: visible;
  }
}
@media screen and (min-width: 700px) {
  .sidebar {
    -webkit-clip-path: none;
            clip-path: none;
    height: 100vh;
    transform: translateX(-100%);
    visibility: none;
    position: fixed;
    inset: 0;
    .logo {
      display: none;
    }
    .sidebar-btns {
      left: 50%;
      transform: translateX(-50%);
      margin: 1rem auto;
      .btn-sidebar {
        margin-top: 0 auto;
        width: 15rem;
        opacity: 1;
        &:hover {
          margin-right: 0;
        }
      }
    }
    &,
    &::after {
      max-width: 300px;
      min-height: 100vh;
      -webkit-clip-path: none;
      clip-path: none;
    }
  }
  .show-sidebar{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1rem;
    .footer-text {
      .icons li a .fab {
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem;
      }
    }
  }
  .section-center {
    .sec-center {
      ul {
        transition: $transition;
        .sec-logo {
          font-size: 3rem;
        }
      }
    }
  }
  .icons {
    font-size: 1.5rem;
    display: block;
  }
  .sidebar-subpage {
    display: none;
  }
  .navbar-subpage {
    .fa-bars {
      display: none;
    }
    .nav-items {
      display: flex;
      gap: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
      color: $clr-primary-7;
      text-transform: capitalize;

      font-size: 1.6rem;
      .nav-item {
        transition: $transition;
        &:hover {
          color: $clr-primary-3;
        }
        &:active {
          color: inherit;
          -webkit-animation: navLinks 0.5s ease-in 1 forwards;
          animation: navLinks 0.5s ease-in 1 forwards;
        }
      }
    }
  }
  h2,
  h3,
  a,
  li {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .prices-center {
    width: 50vw;

    .prices {
      .price {
        font-size: 2rem;
      }
    }
  }
  .main-center-letters {
    .letters-subpage {
      .letters-A-D {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: $max-width;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    .sec-center {
      ul {
        transition: $transition;
      }
    }
  }
  .logo {
    font-size: 4rem;
  }
  h2,
  h3,
  li {
    font-size: 2rem;
  }
  .navbar-subpage {
    .nav-items {
      gap: 3rem;
    }
  }
}
